@import "app.css";

@font-face {
  font-family: Umpush;
  font-weight: bold;
  src: url(Umpush-Bold.ttf);
}
body {
  background: #090807;
  color: #e9e8e7;
  font: 22px Verdana, Tahoma, sans-serif;
}

.main {
  white-space: nowrap;
  position: relative;
}

.song {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
  margin-bottom: 80px;
  border: 2px solid #555;
  padding-bottom: 4px;
  min-width: 10em;
}

.song h2 {
  margin: 0; padding: 0;
  background: #555;
  font-size: 12px;
  margin-bottom: 4px;
}

.section {
  padding: 6px 8px;
}
.section:not(:last-child) {
  border-bottom: 1px solid #444;
}
.group {
  font: bold 15px/1.45 Umpush;
  padding: 2px 6px;
  border: 2px solid #000;
}
.group.active {
  background: #353433;
  border-color: #656463;
}

h1 {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 6px;
  text-align: right;
  background: #111;
  z-index: 1;
  margin: 0;
  font: 200 20px Helvetica Neue;
  color: #8b8685;
}

h1 span {
  display: inline-block;
  padding: 3px 8px;
  color: #454443;
}
h1 span.active {
  box-shadow: 0 0 5px #8b8685;
}
.reload-text {
  float: left;
}
