<!DOCTYPE html>
<html ng-app="shoutpraises.admin">
<meta charset=utf-8>
<title>shoutpraises Admin</title>
<link rel=stylesheet href=admin.css>
<meta name="viewport" content="width=device-width, initial-scale=1.0; user-scalable=no">

<body ng-controller="MainController">

<script src="/version"></script>
<div ng-controller="SongController">

<h1>
  <span class="reload-text" touch ng-click="load()">[reload]</span>
  <b ng-class="{ active: active('splash') }" ng-click="display(splash)">shoutpraises</b> v<script>document.write(version)</script> control panel
  <span ng-class="{ active: active('custom') }" ng-click="custom()">[display]</span>
  <span id="blank" ng-class="{ active: active('blank') }" touch ng-click="display(blank)">[clear]</span>
</h1>

<script type="text/ng-template" id="song">
  <div class="song">
    <h2 ng-click="displayLyric({ id: 'blanksong:' + song.name, text:[] }, song)"
        ng-class="{ active: active('blanksong:' + song.name) }"touch>{{song.name}}</h2>
    <div ng-repeat="section in song.contents" class="section">
      <div ng-repeat="group in section"
           ng-class="{ text: true, group: true, active: active(group.id) }" touch
           ng-click="displayLyric(group, song)">
        <div sp-group="group"></div>
      </div>
    </div>
  </div>
</script>

<div id="main" class="main">
  <ng-include src="'song'" ng-repeat="song in lyrics"></ng-include>
  <div class="import">
    <h2 ng-click="selectSong()">other songs</h2>
    <input type="text" ng-model="searchImport">
    <ul class="text">
      <li ng-click="selectSong(song)"
          ng-class="{ active: extra[0] && extra[0].name == song.name }"
          ng-repeat="song in matchLibrary">
        <span ng-bind="song.filename"></span>
        <span class="matching-text" ng-repeat="text in song.matching" ng-bind="text"></span>
      </li>
    </ul>
  </div>
  <ng-include src="'song'" ng-repeat="song in extra"></ng-include>
</div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="components/jquery/jquery.js"></script>
<script src="components/angular/angular.js"></script>
<script src="sync.js"></script>
<script src="touch.js"></script>
<script src="lyrics"></script>
<script src="app.js"></script>
<script src="admin.js"></script>

