
@font-face {
  font-family: Umpush;
  font-weight: normal;
  src: url(font/Umpush-Normal.ttf);
}
@font-face {
  font-family: Umpush;
  font-weight: bold;
  src: url(font/Umpush-Bold.ttf);
}

@font-face {
  font-family: Norasi;
  font-weight: normal;
  src: url(font/Norasi.ttf);
}
@font-face {
  font-family: Norasi;
  font-weight: bold;
  src: url(font/Norasi-Bold.ttf);
}

.text {
  font-family: Norasi;
  font-weight: bold;
}

.text-group {
  margin: 0 auto;
}
.text-group td {
  padding: 0;
}

.line {
  text-align: center;
  white-space: pre-wrap;
}
.line.align-left {
  text-align: left;
}
