@import "app.css";

html, body {
  margin: 0; padding: 0;
  height: 100%;
}
html {
  background: black;
  background-image: url(bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
body {
  font-size: 48px;
  color: #fff;
  text-align: center;
}

.bg {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  opacity: 0.67;
}

#text {
  font-size: 72px;
  margin-top: 50px;
  text-shadow: 0 2px 6px #000, 0 3px 9px #000;
  position: absolute;
  top: 0; right: 0; left: 0;
}
#song {
  text-shadow: 0 4px 1px #000;
  position: absolute;
  color: rgba(255,255,255,1);
  opacity: 0.36;
  right: 40px;
  bottom: 10px;
}

.splash .bible {
  color: #aba6a5;
  font-weight: normal;
  font-size: 64%;
  display: inline-block;
  text-align: left;
  line-height: 1.3;
  padding: 30px;
}
.splash .bible b {
  color: #bef;
}
.splash cite {
  display: block;
  text-align: right;
  font-size: 60%;
  margin-top: 1em;
}

.splash .bible, .ruler {
  background: rgba(0,0,0,0.6);
  box-shadow: 0 0 10px #fff;
  border-radius: 16px;
}

.ruler {
  width: 12.5em;
  margin: 64px auto 0;
  height: 4px;
}

.fade {
  opacity: 1;
  -webkit-transition: 2s opacity;
}
.fade.hide {
  opacity: 0;
}

.text-display {
  position: absolute;
  top: 0; left: 0; right: 0;
}
.animate-enter {
  -webkit-transition: 0.3s opacity, 0.3s -webkit-transform;
  opacity: 0;
  -webkit-transform: translateY(10px);
}
.animate-enter.animate-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0);
}
.animate-leave {
  -webkit-transition: 0.3s opacity, 0.3s -webkit-transform;
  opacity: 1;
  -webkit-transform: translateY(0);
}
.animate-leave.animate-leave-active {
  opacity: 0;
  -webkit-transform: translateY(-10px);
}


