@import "app.css";

html, body {
  margin: 0; padding: 0;
  height: 100%;
}
html {
  background: #252423;
  background-image: url(bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  font: bold 36px Cordia New, Umpush, Thonburi;
  color: #fff;
  text-align: center;
}

#text {
  font-size: 56px;
  margin-top: 50px;
  text-shadow: 0 4px 1px #000;
}

#song {
  text-shadow: 0 4px 1px #000;
  position: absolute;
  color: rgba(255,255,255,1);
  opacity: 0.5;
  right: 40px;
  bottom: 40px;
}

.splash .bible {
  color: #aba6a5;
  font-weight: normal;
  font-size: 64%;
  display: inline-block;
  text-align: left;
  line-height: 1.3;
  padding: 30px;
}
.splash .bible b {
  color: #bef;
}
.splash cite {
  display: block;
  text-align: right;
  font-size: 60%;
  margin-top: 1em;
}

.splash .bible, .ruler {
  background: rgba(0,0,0,0.6);
  box-shadow: 0 0 10px #fff;
  border-radius: 16px;
}

.ruler {
  width: 15em;
  margin: 64px auto 0;
  height: 4px;
}
