<!DOCTYPE html>
<html ng-app="shoutpraises.display">
<meta charset=utf-8>
<title>shoutpraises Display</title>
<link rel=stylesheet href=display.css>

<body ng-controller="MainController" class="text">

<video class="bg" src="bg.webm" loop autoplay></video>

<script src="/version"></script>
<div id="text" ng-class="{ fade: true, hide: current.blank }" ng-controller="TextController">
  <div class="text-display animate" ng-repeat="current in show">
    <div sp-group="current"></div>
    <div class="splash" ng-if="current.splash">
      <div>shoutpraises v{{version}}</div>
      <div class="bible">
        Let every living creature<br>
        praise the Lord.<br>
        <b>&nbsp; &nbsp; Shout praises</b> to the Lord!
        <cite>Psalm 150:6 (CEV)</cite>
      </div>
      <div class="ruler"></div>
    </div>
  </div>
  <div ng-if="!$ynchronized">
    <div class="syncing">(synchronizing)</div>
  </div>
</div>

<div id="song">
  {{current.song}}
  <div ng-show="current.splash">
    https://github.com/dtinth/shoutpraises
  </div>
</div>

<div id="black" ng-class="{ black: black }"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="components/jquery/jquery.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/angular-animate/angular-animate.js"></script>
<script src="sync.js"></script>
<script src="app.js"></script>
<script src="display.js"></script>
